@import '../../../../variables.scss';

.mainnavbar {
  background: $light;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;

  &_logo {
    margin-left: 185px;
    margin-top: 15px;

    img {
      width: 163px;
      height: 56px;
      top: 1px;
    }
  }

  &_searchbar {
    margin-left: 75px;
    margin-top: 15px;
  }

  &_navbar {
    margin-left: 25px;
    margin-top: 15px;
    
    
    nav {
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
      
            li {
              display: inline-block;
      
              .navlink {
                font-family: $Lato;
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                color: $dark;
                margin-right: 30px;
                text-decoration: none;
              }
            }
          }     
        

    }
  }
}
