@import "../../_variables.scss";

.icon {
	&_xsmall {
		width: 10px;
		height: 9px;
	}

	&_small {
		width: 17px;
		height: 17px;
	}

	&_medium {
		width: 24px;
		height: 24px;
	}

	&_large {
		width: 163px;
		height: 56px;
	}
}
