@import '../../../variables.scss';

.notfound {
    display: grid;
    grid-template-rows: 1fr 2fr 0.5fr 1fr;
    grid-gap: 20px;
    justify-items: center;

    img {
      width: 163px;
      height: 56px;
			align-self: center;
    }

    h1 {
      font-family: $Lato;
      font-style: normal;
      font-weight: 400;
      font-size: 192px;
      letter-spacing: 0.84px;
      color: $primary;
    }

		h3 {
			font-family: $Lato;
			font-style: normal;
			font-weight: 400;
			font-size: 32px;
			line-height: 51px;
			letter-spacing: 0.84px;
			color: $darker;
		}
}